.dropdown-menu

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    margin-left: 10px;
}


.carousel-caption {
     margin-bottom: 80px;
     margin-right: 550px; 
}

header {
    background-color: whitesmoke;
}
.max_1 {
    margin-top: 80px;
}

section .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subtext img {
    width: 400px;
    height: 400px;

}
.text_10{
    margin-left: 40px !important;
} 

.qwe{
    margin-top: 300px;
}
.upto .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upto_text, .upto_img{
    width: 45%;
}
